.sellingProducts{
    padding:70px 0 0 210px;
    margin-bottom:100px;
}

.rectangle{
    background-color:var(--red);
    width:20px;
    height:40px;
    border-radius:4px;
}
.topHeader{
    display:flex;
    align-items: center;
    gap:16px;
}
.topHeader h3{
    color:var(--red);
    font-weight:600;
    font-size:var(--text-16);
    line-height:20px;

}
.mainHeader{
    display: flex;
    align-items: center;
    gap:290px;
}

.mainHeader h2{
    font-weight: 600;
    font-size:36px;
    line-height:48px;
    letter-spacing:4%;
}

.mainHeader .btn{
    padding:16px 48px 16px 48px;
    width:159px;
    height:56px;
}

/**********cards***********/
.mainContainer{
    display:flex;
    gap:30px;
    margin-top:2rem;
    width:700px;
}
.imagContainer img{
    width:270px;
    height:250px;
    border-radius:4px;
    background-color:#f5f5f5;

}

.cardBody h4{
    font-weight: 500;
    font-size:16px;
    line-height:24px;
}
.prices{
    display:flex;
    gap:12px;
    margin:8px 0 8px 0;
}
.price{
    font-weight: 500;
    font-size:16px;
    line-height:24px;
    color:var(--red);
}
.btn{
    width:234px;
    height:56px;
    padding:16px 48px 16px 48px;
    background-color:var(--red);
    border:none;
    border-radius:4px;
    color:var(--white);
    margin:40px 0 0 350px;
}

.imagContainer{
    position:relative;
}

.seeLove{
   display:flex;
   flex-direction:column;
   align-items: flex-start;
   gap:8px;
   position:absolute;
   margin:-240px 0 0 230px;
}

.seeLove .fa-heart{
    width:34px;
    height:34px;
    padding:5px 0 0 5px;
    border-radius:50%;
    background-color:var(--white);
}

.prevPrice{
    color:var(--gray);
    text-decoration:line-through;
}

.stars{
    display:flex;
    gap:8px;
}

.stars .fa-star{
    background-color:var(--red);
}

.seeLove i{
    background-color:var(--white);
    padding:.5rem;
    border-radius: 50%;
    width:auto;
    height:auto;
}
.liked {
  color: red;
  transition: 0.3s;
}

.notLiked {
  color: #888;
  transition: 0.3s;
}

@media screen and (max-width:1200px){
    .sellingProducts{
    padding:var(--padding-1200);
    }
    .mainContainer {
    gap:20px; 
    }
    .imagContainer img{
    width:252px;
    }
    .seeLove{
     margin:-240px 0 0 220px;
    }
}
@media screen and (max-width:992px){
    .sellingProducts{
    padding:var(--padding-992);
    }
    .mainHeader{
        gap:30px;
    }
    .mainContainer {
    padding:0 0 0 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px; /* مسافة ثابتة بين الكروت */
    justify-content: center; /* يخليهم دايمًا في الوسط */
    }
    .card {
    flex: 1 1 calc(33.333% - 30px); /* 3 كروت في الصف */
    max-width: calc(33.333% - 30px);
    }
    .imagContainer img{
    width:230px;
    }
    .seeLove{
     margin:-240px 0 0 200px;
    }
    .btn{
    margin:40px 0 0 270px;
    }
}

@media screen and (max-width:768px){
    .sellingProducts{
     padding:var(--padding-768);
    }

    .mainHeader{
        gap:10px;
    }

    .mainHeader h2{
    font-size:30px;
    line-height:30px;
    }

    .mainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap:20px;
    padding-left:20px;
    width:100%;

    }
     .card {
    flex: 1 1 calc(50% - 15px); /* كرتين في الصف مع ترك مسافة */
    max-width: calc(50% - 15px);
    margin: 0; /* إزالة الهوامش الثابتة */
    }

    .imagContainer img{
    width:250px;
    }

    .seeLove{
     margin:-240px 0 0 220px;
    }
    .btn{
    margin:40px 0 0 170px;
    }
}



@media screen and (max-width:480px){
    .sellingProducts{
     padding:var(--padding-480);
    }
    .mainHeader{
        gap:0;
    }
     .mainHeader h2{
    font-size:30px;
    line-height:30px;
    }
    .mainContainer{
    padding:0 0 0 0px;
    gap:5px;
    justify-content: start; /* يخليهم دايمًا في الوسط */
    }
    .card {
    flex: 1 1 calc(50% - 100px);  /* كل كرت ياخذ نصف المساحة مع خصم الفجوة */
    max-width: calc(50% - 0px);
    }
    .imagContainer img{
    width:220px;
    }
    .seeLove{
     margin:-240px 0 0 190px;
    }
}