.flashSales{
    padding:70px 0 0 210px;
    margin-bottom:var(--margin-bottom);

}
.rectangle{
    background-color:var(--red);
    width:20px;
    height:40px;
    border-radius:4px;
}
.topHeader{
    display:flex;
    align-items: center;
    gap:16px;
}
.topHeader h3{
    color:var(--red);
    font-weight:600;
    font-size:var(--text-16);
    line-height:20px;

}
.mainHeader{
    display: flex;
    align-items: center;
    gap:220px;
}

.arrows{
    gap:8px;
    display:flex;
    align-items: center;
    margin:auto;
}
.arrows i{
    width:46px;
    height:46px;
    border-radius:50%;
    background-color:var(--gray-bg);
    padding:11px 11px 11px 11px;
}

.mainHeader h2{
    font-weight: 600;
    font-size:36px;
    line-height:48px;
    letter-spacing: 4%;
}

.countdown span{
    font-weight: 500;
    font-size:12px;
    line-height:18px;
    font-family: poppins;
}

.countdown div{
    font-weight: 700;
    font-size:32px;
    line-height:30px;
    letter-spacing:4%;

}

.dots{
    display:flex;
    gap:8px;
    color:var(--light-red);
    width:4px;
    height:4px;
}

/**********cards***********/
.mainContainer{
    display:flex;
    gap:30px;
    margin-top:2rem;
    width:700px;
}
.imagContainer img{
    width:270px;
    height:250px;
    border-radius:4px;
    background-color:#f5f5f5;
}

.cardBody h4{
    font-weight: 500;
    font-size:16px;
    line-height:24px;
    width:10rem;
}

.prices{
    display:flex;
    gap:12px;
    margin:8px 0 8px 0;
}
.price{
    font-weight: 500;
    font-size:16px;
    line-height:24px;
    color:var(--red);
}
.btn{
    width:234px;
    height:56px;
    padding:16px 48px 16px 48px;
    background-color:var(--red);
    border:none;
    border-radius:4px;
    color:var(--white);
    margin:40px 0 0 450px;
}

.imagContainer{
    position:relative;
}

.addToCart {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.imagContainer:hover .addToCart {
opacity: 1;
transform: translateX(-50%) translateY(-10px);
}

.discount{
    width:55px;
    height:26px;
    display:flex;
    position:absolute;
    margin:-240px 0 0px 12px;
    border-radius:4px;
    padding:4px 12px 4px 12px;
    gap:10px;
    background-color:var(--red);
    color:var(--white);
}

.seeLove{
   display:flex;
   flex-direction:column;
   align-items: flex-start;
   gap:8px;
   position:absolute;
   margin:-240px 0 0 230px;
}

.seeLove i{
    background-color:var(--white);
    padding:.5rem;
    border-radius: 50%;
    width:auto;
    height:auto;
}

.seeLove .fa-heart{
    width:34px;
    height:34px;
    padding:5px 0 0 5px;
    border-radius:50%;
    background-color:var(--white);
}

.prevPrice{
    color:var(--gray);
    text-decoration:line-through;
}

.stars{
    display:flex;
    gap:8px;
}

.stars .fa-star{
    background-color:var(--red);
}

.mainContainer{
    position:relative;
}
.cart{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:60px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.5);
    padding:5rem;
    position:absolute;
    top:-80px;
    left:220px;
    z-index:999;
    background-color: var(--white);
}
.stars{
    margin:.5rem auto;
}
.cart img{
    width:270px;
    height:250px;
    border-radius:4px;
    background-color:#f5f5f5;
}
.hedding{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.hedding i{
    cursor: pointer;
}
.cart .btn{
    margin:10px 0 0 0px;
    padding:8px 28px 8px 28px;
}
.cart p {
    font-weight: 400;
    font-size:14px;
    line-height:21px;
}
.liked {
  color: red;
  transition: 0.3s;
}

.notLiked {
  color: #888;
  transition: 0.3s;
}


@media screen and (max-width:1200px){
    .flashSales{
    padding:var(--padding-1200);
    }
}
@media screen and (max-width:992px){
    .flashSales{
      padding:var(--padding-992);
    }
    .mainHeader{
      gap:80px;
    }
    .mainContainer{
    gap:10px;
    }
    .btn{
    margin:40px 0 0 300px;
    width:200px;
    }
}
@media screen and (max-width:768px){
    .flashSales{
    padding:var(--padding-768);
    }
    .mainHeader{
    gap:220px;
    }
    .mainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    }
    .btn{
    margin:40px 0 0 200px;
    width:200px;
    }
    .arrows{
    display:none;
    }
    .mainContainer{
    gap:60px;
    padding-left:40px;
    }
    .imagContainer img{
    width:250px;
    }
    .seeLove{
    margin:-240px 0 0 220px;
    }
    .mainHeader h2{
    font-size:30px;
    }
    .countdown span{
    font-size:10px;
    }
    .countdown div{
    font-weight: 600;
    font-size:20px;
    line-height:15px;
    }
}

@media screen and (max-width:480px){
    .flashSales{
    padding:var(--padding-480);
    }
    .mainHeader{
    gap:50px;
    }
    .mainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    padding-left:0px;
    }
    .btn{
    margin:40px 0 0 120px;
    }
    .arrows{
    display:none;
    }
    .mainContainer{
    gap:10px;
    }
    .imagContainer img{
    width:230px;
    }
    .seeLove{
    margin:-240px 0 0 200px;
    }
    .mainHeader h2{
    font-size:30px;
    }
    .countdown span{
    font-size:10px;
    }
    .countdown div{
    font-weight: 600;
    font-size:20px;
    line-height:15px;
    }
    .cardBody{
        margin-left:1rem;
    }
    
}

