.musicExperience{
    padding:60px 0 60px 60px;
    display:flex;
    align-items: center;
    background-color:var(--black);
    width:76vw;
    margin-left:210px;
    margin-bottom:var(--margin-bottom);

}
.left h2{
    color:var(--green);
    font-weight: 600;
    font-size:16px;
    line-height:20px;
    margin-top:20px;
    width:443px;
}
.left p{
    font-weight: 600;
    font-size:48px;
    line-height:60px;
    letter-spacing:4%;
    color:var(--white);
}
.right img{
    width:568px;
    height:330px;
    padding:37px 0 0 0px;
    z-index:999;
    position:relative;

}

.timing{
    display:flex;
    gap:24px;
    margin-top:20px;

}
.timing li{
    background-color:var(--white);
    width:62px;
    height:62px;
    border-radius:50%;
    padding:5px 0 0 2px;
    text-align: center;
    font-weight: 600;
    font-size:16px;
}

.timing span{
    font-weight: 400;
    font-size:11px;

}

.btn{
    background-color:var(--green);
    width:171px;
    height:56px;
    padding:16px 48px 16px 48px;
    gap:10px;
    margin:20px 0 0 10px;
    border-radius:4px;
}
.right{
    position:relative;
}
.blur{
    width:500px;
    height:500px;
    filter:blur(200px);
    background-color:var(--white);
    border-radius:50%;
    position:absolute;
}

@media screen and (max-width:992px){
   .musicExperience{
    padding:50px;
    margin:0 105px 0 105px;
    width:81vw;
   } 
   .right img{
    width:300px;
    }
}

@media screen and (max-width:768px){
    .musicExperience{
    padding:var(--padding-768);
    margin:0 70px 0 70px;
    width:400vw;
    flex-direction: column; 
    } 
    
    .left, .right {
        width: 100%;
    }
    .right img{
    width:430px;
    }
}
@media screen and (max-width:480px){
    .musicExperience{
    padding:20px 0 0 20px;
    margin-left:10px;
    width:400vw;
    flex-direction: column; 
    } 
    
    .left, .right {
        width: 100%;
    }
    .right img{
    width:430px;
    }


}