.header{
    width:1170px;
    height:38px;
}

.container{
    padding:40px 0 0 210px;
    display:flex;
    align-items: center;
    gap:90px;
}

.list{
    display:flex;
    align-items: center;
    gap:48px;
    list-style:none;
    width:567px;
    height:24px;
}

.logo{
    font-weight:var(--weight-700);
    font-size:var(--text-24);
    letter-spacing: 3%;
}

.list li a{
    font-size:var(--text-16);
    font-weight: var(--weight-400);
    color:var(--black);
}
.searching{
   display:flex;
   gap:24px;
   align-items: center;
}
.search{
    padding:7px 12px 7px 20px;
    border:none;
    radius:4px;
    gap:10px;
}
.burger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
.header hr{
  border:.5px solid var(--black);
  width:100vw;
  opacity:30%;
  margin-top:20px;
}

.badge{
  width:auto;
  height:auto;
  background-color: red;
  color:var(--white);
  border-radius:50%;
  padding:2px;
}
@media screen and (max-width:1200px){
    .container{
      padding:30px 0 0 70px;
      gap:30px;
    }
    .list{
    width:500px;
    gap:40px;
    }
    .logo{
      margin-right:90px;
    }
    
    
}
@media screen and (max-width:992px){
    .container{
      padding:var(--padding-992);
      display: flex;
      align-items: center;
      gap:0px;
    }
    .list{
    width:345px;
    gap:40px;
    }
}
@media screen and (max-width:768px){
    .container{
      padding:var(--padding-768);
      display: flex;
      align-items: center;
      gap:100px;
    }
    .logo{
      margin-right:25px;
    }
    .burger {
    display: block;
    font-size:20px;
    }
    .searching{
    gap:10px;
    }
    .list {
    display: none; /* تخفي القائمة */
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .showMenu {
    display: flex;
    color:var(--white);
    z-index: 999;          /* خليها قيمة عالية */
    position: absolute;
  }

  .showMenu {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--white);
  z-index: 999;          /* خليها قيمة عالية */
  position: absolute;    /* علشان تطلع فوق كل شيء */
  top: 140px;             /* تنزل تحت الهيدر */
  left: 180px;
  width: 50%;
  height:auto;
  padding: 15px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.3);

}

.showMenu li a {
  color:var(--white);
}

}
@media screen and (max-width:480px){
    .container{
      padding:40px 0 0 7px;
      display: flex;
      align-items: center;
      gap:10px;
    }
    
    .burger {
    display: block;
    font-size:20px;
    }
    .searching{
    gap:10px;
    }
    .list {
    display: none; /* تخفي القائمة */
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .showMenu {
    display: flex;
    color:var(--white);
    z-index: 999;          /* خليها قيمة عالية */
    position: absolute;
  }

  .showMenu {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--white);
  z-index: 999;          /* خليها قيمة عالية */
  position: absolute;    /* علشان تطلع فوق كل شيء */
  top: 150px;             /* تنزل تحت الهيدر */
  left: 130px;
  width: 50%;
  height:auto;
  padding: 15px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.3);

}

.showMenu li a {
  color:var(--white);
}


 
}