.exploreProducts{
    padding:var(--main-padding);
    margin-bottom:var(--margin-bottom);
}
.rectangle{
    background-color:var(--red);
    width:20px;
    height:40px;
    border-radius:4px;
}
.topHeader{
    display:flex;
    align-items: center;
    gap:16px;
}
.topHeader h3{
    color:var(--red);
    font-weight:600;
    font-size:var(--text-16);
    line-height:20px;
}
.mainHeader{
    display: flex;
    align-items: center;
    gap:520px;
}

.arrows{
    gap:8px;
    display:flex;
    align-items: center;
    margin:auto;
}
.arrows i{
    width:46px;
    height:46px;
    border-radius:50%;
    background-color:var(--gray-bg);
    padding:11px 11px 11px 11px;
}

.mainHeader h2{
    font-weight: 600;
    font-size:36px;
    line-height:48px;
    letter-spacing: 4%;
}
/**********cards***********/
.mainContainer{
    display:flex;
    gap:40px;
    margin-top:2rem;
    width:1200px;
    flex-wrap: wrap;
}
.imagContainer img{
    width:260px;
    height:250px;
    border-radius:4px;
    background-color:#f5f5f5;

}

.cardBody h4{
    font-weight: 500;
    font-size:16px;
    line-height:24px;
}
.prices{
    display:flex;
    gap:12px;
    margin:8px 0 8px 0;
}
.price{
    font-weight: 500;
    font-size:16px;
    line-height:24px;
    color:var(--red);
}
.btn{
    width:234px;
    height:56px;
    padding:16px 48px 16px 48px;
    background-color:var(--red);
    border:none;
    border-radius:4px;
    color:var(--white);
    margin:40px 0 0 450px;
}

.imagContainer{
    position:relative;
}
.seeLove{
   display:flex;
   flex-direction:column;
   align-items: flex-start;
   gap:8px;
   position:absolute;
   margin:-240px 0 0 210px;
}

.seeLove .fa-heart{
    width:34px;
    height:34px;
    padding:5px 0 0 5px;
    border-radius:50%;
    background-color:var(--white);
}

.prevPrice{
    color:var(--gray);
    text-decoration:line-through;
}

.stars{
    display:flex;
    gap:8px;
}

.addToCart {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.imagContainer:hover .addToCart {
  opacity: 1;
  transform: translateX(-50%) translateY(-10px); /* حركة بسيطة للأعلى */
}

.discount{
    width:55px;
    height:26px;
    display:flex;
    position:absolute;
    margin:-240px 0 0px 12px;
    border-radius:4px;
    gap:10px;
    background-color:var(--green);
    color:var(--white);
    padding-left:10px;
}


.setColor{
    display:flex;
    align-items: center;
    gap:10px;
}
.stars{
    display:flex;
    margin:10px 0;
}
.seeLove i{
    background-color:var(--white);
    padding:.5rem;
    border-radius: 50%;
    width:auto;
    height:auto;
}
.liked {
    color: red;
    transition: 0.3s;
}

.notLiked {
    color: #888;
    transition: 0.3s;
}

@media screen and (max-width:1200px){
    .exploreProducts{
    padding:var(--padding-1200);
    }
    .btn{
    margin:40px 0 0 410px;
    }
    .mainHeader{
    gap:550px;
    }
    .mainContainer{
    gap:5px;
    }
}

@media screen and (max-width:992px){
    .exploreProducts{
    padding:var(--padding-992);
    }
    .btn{
    margin:40px 0 0 320px;
    }
    .mainHeader{
    display: flex;
    align-items: center;
    gap:300px;
    }
}

@media screen and (max-width:768px){
    .exploreProducts{
    padding:var(--padding-768);
    }
    .btn{
    margin:40px 0 0 210px;
    }
    .mainHeader{
    display: flex;
    align-items: center;
    gap:130px;
    }
}
@media screen and (max-width:480px){
    .exploreProducts{
    padding:var(--padding-480);
    }
    .mainHeader{
        gap:0;
    }
     .mainHeader h2{
    font-size:30px;
    line-height:30px;
    }
    .mainContainer{
    padding:0 0 0 0px;
    gap:5px;
    justify-content: start; /* يخليهم دايمًا في الوسط */
    }
    .imagContainer img{
    width:220px;
    }
    .seeLove{
     margin:-240px 0 0 190px;
    }
    .btn{
    width:200px;
    margin:40px 0 0 120px;
    }
}
