.mainHeader{
    display: flex;
    align-items: center;
    gap:80px;
    padding:70px 0 0 210px;
    margin-bottom:var(--margin-bottom);
}

.list li {
    list-style: none;
    margin-bottom: 16px;
    width:217px;
}
.list li a{
    color:var(--black);
}

.right{
    width:892px;
    height:344px;
    background-color:var(--black);
    color:var(--white);
    display: flex;
    align-items: center;
    padding:1rem 0 0 3rem;
}

.iphone img{
    width:60px;
    height:60px;
}

.subRight img{
    width:496px;
    height:300px;
    padding:0 0 0 100px;
}

.iphone{
    display:flex;
    align-items: center;
    gap:24px;
}

.sale{
    font-size: var(--text-48);
}

.btn{
    background-color:transparent;
    border:none;
    color:var(--white);
    padding:20px 0 0 0;
    gap:8px;
    font-size:var(--text-16);
    font-weight: var(--weight-500);
}

.btn::after{
    content:"";
    width:81px;
    border:1px solid var(--black);

}

.iphone p{
    width:120px;
}
@media screen and (max-width:992px){
   .mainHeader{
    gap:0px;
    padding:70px 0 0 100px
   }
    .sale{
    font-size: 35px;
    }
}
@media screen and (max-width:768px){
   .mainHeader{
    gap:0px;
    padding:70px 0 0 70px;
   }
 
   .sale{
    font-size: 35px;
   }
  .subRight {
    position: relative; /* parent becomes a positioning context */
   }
.subRight img {
  width:400px;
  height:210px;
  z-index: 999;
  padding:20px 100px 0 10px;

}
  .iphone img{
    width:30px;
    height:30px;
  }
  

.subLeft{
    margin:20px 0 50px 0;
  }

}
@media screen and (max-width:480px){
   .mainHeader{
    gap:0px;
    padding:70px 0 0 7px;
   }
 
   .sale{
    font-size: 30px;
   }
  .subRight {
  position: relative; /* parent becomes a positioning context */
}

.subRight img {
  width:290px;
  height:110px;
  position: absolute; /* float above content */
  top: 0;  /* adjust as needed */
  right: -70px; /* adjust as needed */
  z-index: 999;
}
  .iphone img{
    width:30px;
    height:30px;
  }
  
.right{
    display:flex;
    flex-direction: column;
    padding:0 0 0 0px;
    width:250px;
  }
.subLeft{
    margin:20px 0 50px 0;
  }

}